<link rel="stylesheet" type="text/css" href="../public/css/products.css">
<div  >
    <h1 style="color: red" >hola</h1>
    <div id="cart">
        <p id="title" > </p>
        <p id="description" ></p>
        <p id="price" ></p>
        <p id="stock" ></p>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/products.js"></script>